n8n-alicia-meta-ads.json
{
  "name": "Alicia - Meta Ads v2 (Clientes + Relatórios)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alicia-whatsapp",
        "options": {}
      },
      "id": "7623fe0f-091f-4cde-a0ff-7b53998c4fe1",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-336, 112],
      "webhookId": "alicia-meta-ads-001"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst text =\n  msg.conversation ||\n  msg?.extendedTextMessage?.text ||\n  msg?.imageMessage?.caption ||\n  msg?.videoMessage?.caption ||\n  msg?.documentMessage?.caption ||\n  '';\n\nconst remoteJid = key.remoteJid || '';\nconst fromMe = key.fromMe || false;\nconst instance = body.instance || 'Teste';\n\nif (fromMe || !text.trim()) return [];\nif (remoteJid.includes('@g.us')) return [];\n\nconst phone = remoteJid\n  .replace('@s.whatsapp.net', '')\n  .replace('@c.us', '');\n\nreturn [{ json: { text: text.trim(), phone, remoteJid, instance } }];"
      },
      "id": "24a967e7-7602-4f55-bea1-a4dff46d1330",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-alicia",
              "leftValue": "={{ $json.text.toLowerCase() }}",
              "rightValue": "alicia",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "accdd347-7076-4d05-b4c7-ae43aa1fc4b7",
      "name": "Menciona Alicia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [112, 112]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst text = (input.text || '').toLowerCase();\nconst now = new Date();\nconst fmt = d => d.toISOString().split('T')[0];\nconst addDays = (n) => { const d = new Date(now); d.setDate(d.getDate() + n); return fmt(d); };\nconst dow = now.getDay();\nconst daysToMon = dow === 0 ? 6 : dow - 1;\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - daysToMon);\n\nconst clientMap = {\n  'antonio neto': { id: 'act_497795903676192', nome: 'Antonio Neto' },\n  'antonio': { id: 'act_497795903676192', nome: 'Antonio Neto' },\n  'gabriel jacinto': { id: 'act_2493856707309984', nome: 'Gabriel Jacinto' },\n  'gabriel': { id: 'act_2493856707309984', nome: 'Gabriel Jacinto' },\n  'dani escudero': { id: 'act_2145598605527232', nome: 'Dani Escudero' },\n  'dani': { id: 'act_2145598605527232', nome: 'Dani Escudero' },\n  'agro': { id: 'act_929521557422139', nome: 'Agro' },\n  'escola de musica': { id: 'act_544347952854095', nome: 'Escola de M\\u00fasica' },\n  'escola de m\\u00fasica': { id: 'act_544347952854095', nome: 'Escola de M\\u00fasica' },\n  'escola': { id: 'act_544347952854095', nome: 'Escola de M\\u00fasica' },\n  'panmalhas': { id: 'act_1509005182799187', nome: 'Panmalhas Assessoria T\\u00eaxtil' },\n  'gfix store': { id: 'act_2811791829124905', nome: 'GFiX Store' },\n  'gfix': { id: 'act_2811791829124905', nome: 'GFiX Store' },\n  'arte em gelo': { id: 'act_5585082641598366', nome: 'Arte em Gelo' },\n  'arte em gelo': { id: 'act_5585082641598366', nome: 'Arte em Gelo' },\n  'itag tecnologia': { id: 'act_738466861151636', nome: 'ITAG Tecnologia' },\n  'itag': { id: 'act_738466861151636', nome: 'ITAG Tecnologia' },\n  'hi dogz': { id: 'act_873195821346004', nome: 'Hi Dogz' },\n  'dogz': { id: 'act_873195821346004', nome: 'Hi Dogz' },\n  'batata bistro': { id: 'act_1673012226810411', nome: 'Batata Bistr\\u00f4' },\n  'batata bistr\\u00f4': { id: 'act_1673012226810411', nome: 'Batata Bistr\\u00f4' },\n  'batata': { id: 'act_1673012226810411', nome: 'Batata Bistr\\u00f4' },\n  'caribbean bronze': { id: 'act_1082397873705862', nome: 'Caribbean Bronze' },\n  'caribbean': { id: 'act_1082397873705862', nome: 'Caribbean Bronze' },\n  'larissa kelleter': { id: 'act_738280412237298', nome: 'Larissa Kelleter' },\n  'larissa': { id: 'act_738280412237298', nome: 'Larissa Kelleter' }\n};\n\n// Detecta pedido de relatório sem exigir a palavra 'semanal'\nconst isRelatorio = text.includes('relat');\n\nlet clientFound = null;\nconst sortedKeys = Object.keys(clientMap).sort((a, b) => b.length - a.length);\nfor (const key of sortedKeys) {\n  if (text.includes(key)) {\n    clientFound = clientMap[key];\n    break;\n  }\n}\n\nconst today = fmt(now);\nconst yesterday = addDays(-1);\nconst last7Start = addDays(-7);\nconst isRelatorioWithClient = isRelatorio && clientFound !== null;\n\nreturn [{\n  json: {\n    ...input,\n    today,\n    yesterday,\n    weekStart: fmt(monday),\n    last7: last7Start,\n    last30: addDays(-30),\n    last7Start,\n    last7End: yesterday,\n    metaToken: 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X',\n    isRelatorio,\n    isRelatorioWithClient,\n    clientFound: clientFound ? clientFound.id : null,\n    clientNome: clientFound ? clientFound.nome : null\n  }\n}];"
      },
      "id": "5b953b43-14ca-4ed3-b8da-3ec455f58b92",
      "name": "Calcular Datas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [320, 112]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-relatorio",
              "leftValue": "={{ $json.isRelatorioWithClient }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "151d4a8d-966e-4ca1-a145-cc2692dec81e",
      "name": "É Relatório Semanal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [544, 112]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.clientFound + '/insights' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date_preset",
              "value": "last_7d"
            },
            {
              "name": "fields",
              "value": "spend,impressions,clicks,ctr,actions,reach,campaign_name"
            },
            {
              "name": "level",
              "value": "campaign"
            },
            {
              "name": "access_token",
              "value": "={{ $json.metaToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "0ad35b21-41cf-4cca-a7a3-f8bfe29f4467",
      "name": "Buscar Insights 7 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [768, -32]
    },
    {
      "parameters": {
        "jsCode": "const metaData = $input.first().json;\nconst ctx = $('Calcular Datas').first().json;\nconst campaigns = metaData.data || [];\n\nif (!campaigns.length) {\n  return [{ json: { ...ctx, output: '\\u274c Sem dados para *' + (ctx.clientNome || '').toUpperCase() + '* nos \\u00faltimos 7 dias.' } }];\n}\n\n// Contas de compra direta (e-commerce / vendas)\nconst purchaseAccountIds = ['act_873195821346004', 'act_1673012226810411']; // Hi Dogz, Batata Bistr\\u00f4\nconst isPurchase = purchaseAccountIds.includes(ctx.clientFound);\n\nconst fmtBR = (dateStr) => {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  return String(d.getUTCDate()).padStart(2, '0') + '/' + String(d.getUTCMonth() + 1).padStart(2, '0');\n};\n\nconst fmtMoney = (val) => {\n  return val.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\n};\n\nconst fmtNum = (val) => {\n  return parseInt(val || 0).toLocaleString('pt-BR');\n};\n\nlet totalSpend = 0;\nlet totalImpressions = 0;\nlet totalClicks = 0;\n\nfor (const c of campaigns) {\n  totalSpend += parseFloat(c.spend || '0');\n  totalImpressions += parseInt(c.impressions || '0');\n  totalClicks += parseInt(c.clicks || '0');\n}\n\nconst clientNameUpper = (ctx.clientNome || '').toUpperCase();\nlet reportText;\n\nif (isPurchase) {\n  let totalPurchases = 0;\n  for (const c of campaigns) {\n    const purchaseAction = (c.actions || []).find(a =>\n      a.action_type === 'purchase' ||\n      a.action_type === 'offsite_conversion.fb_pixel_purchase'\n    );\n    if (purchaseAction) totalPurchases += parseInt(purchaseAction.value);\n  }\n  const cpp = totalPurchases > 0 ? totalSpend / totalPurchases : 0;\n  reportText =\n    '*' + clientNameUpper + '*\\n\\n' +\n    '_\\ud83d\\udcc6 ' + fmtBR(ctx.last7Start) + ' a ' + fmtBR(ctx.last7End) + ' (\\u00faltimos 7 dias)_\\n\\n' +\n    '*Meta Ads*\\n\\n' +\n    'Impress\\u00f5es: ' + fmtNum(totalImpressions) + '\\n\\n' +\n    'Cliques: ' + fmtNum(totalClicks) + '\\n\\n' +\n    'Vendas: ' + totalPurchases + '\\n\\n' +\n    'Custo por venda: R$ ' + fmtMoney(cpp) + '\\n\\n' +\n    '*INVESTIMENTO TOTAL: R$ ' + fmtMoney(totalSpend) + '*';\n} else {\n  const LEAD_TYPES = [\n    'lead',\n    'onsite_conversion.lead_grouped',\n    'onsite_conversion.messaging_conversation_started_7d',\n    'onsite_conversion.total_messaging_connection'\n  ];\n\n  let leadSpend = 0;\n  let totalLeads = 0;\n  for (const c of campaigns) {\n    const leadAction = (c.actions || []).find(a => LEAD_TYPES.includes(a.action_type));\n    if (leadAction) {\n      leadSpend += parseFloat(c.spend || '0');\n      totalLeads += parseInt(leadAction.value);\n    }\n  }\n  const cpl = totalLeads > 0 ? leadSpend / totalLeads : 0;\n  reportText =\n    '*' + clientNameUpper + '*\\n\\n' +\n    '_\\ud83d\\udcc6 ' + fmtBR(ctx.last7Start) + ' a ' + fmtBR(ctx.last7End) + ' (\\u00faltimos 7 dias)_\\n\\n' +\n    '*Meta Ads*\\n\\n' +\n    'Impress\\u00f5es: ' + fmtNum(totalImpressions) + '\\n\\n' +\n    'Cliques: ' + fmtNum(totalClicks) + '\\n\\n' +\n    'Leads: ' + totalLeads + '\\n\\n' +\n    'Custo por lead: R$ ' + fmtMoney(cpl) + '\\n\\n' +\n    '*INVESTIMENTO TOTAL: R$ ' + fmtMoney(totalSpend) + '*';\n}\n\nreturn [{ json: { ...ctx, output: reportText } }];"
      },
      "id": "2b3745d9-82ef-4d9a-aa8d-db402408a07e",
      "name": "Formatar Relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, -32]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evolution-api.rcxmr5.easypanel.host/message/sendText/Teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE670335A833-4FE4-84CB-29FA65A8ED73"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b339c96a-4c60-4a45-98ea-4091d5ec847d",
      "name": "Enviar Relatório WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1216, -32]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/adaccounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,account_status,currency,amount_spent,balance"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "access_token",
              "value": "={{ $json.metaToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "1daa387b-bc23-4e31-b837-e8dcc048044e",
      "name": "Buscar Contas Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [768, 256]
    },
    {
      "parameters": {
        "jsCode": "const metaResp = $input.first().json;\nconst ctx = $('Calcular Datas').first().json;\nconst allAccounts = metaResp.data || [];\nconst accountsList = allAccounts.map(a => {\n  const status = a.account_status === 1 ? '\\u2705 Ativa' : '\\u23f8 Inativa';\n  return '\\u2022 ' + a.name + ' | ID: ' + a.id + ' | ' + a.currency + ' | ' + status;\n}).join('\\n') || 'Nenhuma conta encontrada';\nreturn [{ json: { ...ctx, accounts: allAccounts, accountsList } }];"
      },
      "id": "9c2de825-ffbd-4870-b0e5-3f4a72c6c7b1",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [992, 256]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Você é Alicia, assistente especializada em Meta Ads. Ajuda gestores de tráfego a analisar métricas de campanhas de forma clara e direta.\n\n📅 DATA ATUAL: {{ $json.today }}\n📅 ONTEM: {{ $json.yesterday }}\n📅 INÍCIO DA SEMANA (seg): {{ $json.weekStart }}\n📅 7 DIAS ATRÁS: {{ $json.last7 }}\n📅 30 DIAS ATRÁS: {{ $json.last30 }}\n\n🧑‍💼 MAPEAMENTO DE CLIENTES → CONTAS:\n• Antonio Neto → act_497795903676192\n• Gabriel Jacinto → act_2493856707309984\n• Dani Escudero → act_2145598605527232\n• Agro → act_929521557422139\n• Escola de Música → act_544347952854095\n• Panmalhas → act_1509005182799187\n• GFiX Store → act_2811791829124905\n• Arte em Gelo → act_5585082641598366\n• ITAG Tecnologia → act_738466861151636\n• Hi Dogz → act_873195821346004\n• Batata Bistrô → act_1673012226810411\n• Caribbean Bronze → act_1082397873705862\n• Larissa Kelleter → act_738280412237298\n\n🏢 CONTAS DISPONÍVEIS (status atual):\n{{ $json.accountsList }}\n\n📋 REGRAS:\n1. Quando o usuário mencionar um cliente pelo nome (parcial ou completo), use o ID de conta do mapeamento acima\n2. Exemplos de variações aceitas: 'itag' = ITAG Tecnologia, 'batata' = Batata Bistrô, 'gfix' = GFiX Store, 'caribbean' = Caribbean Bronze\n3. Se não especificou cliente, busque de TODAS as contas ativas e consolide os valores\n4. date_presets válidos: today, yesterday, this_week_mon_today, last_7d, last_14d, last_30d, last_month\n5. Para LEADS: filtre actions por action_type = 'lead' OU 'onsite_conversion.lead_grouped'\n6. CPL = gasto_total ÷ quantidade_leads\n7. Budgets da Meta vêm em CENTAVOS - divida por 100 para exibir em reais\n8. Responda SEMPRE em português do Brasil\n9. Use emojis para tornar a resposta visual e amigável\n10. Seja concisa mas completa\n\n🎨 FORMATO DE RESPOSTA PARA RELATÓRIO:\n*NOME DO CLIENTE EM MAIÚSCULAS*\n\n_📆 DD/MM a DD/MM (últimos 7 dias)_\n\n*Meta Ads*\n\nImpressões: X.XXX\n\nCliques: X.XXX\n\nLeads: XX  (ou Vendas: XX para Hi Dogz e Batata Bistrô)\n\nCusto por lead: R$ XX,XX  (ou Custo por venda)\n\n*INVESTIMENTO TOTAL: R$ X.XXX,XX*\n\n⚠️ Se não houver dados para o período, informe o usuário claramente."
        }
      },
      "id": "36e08f36-8634-478d-a32c-8bf22671531e",
      "name": "Alicia Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1216, 256]
    },
    {
      "parameters": {
        "model": "claude-opus-4-5",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.1
        }
      },
      "id": "b8f7ba35-80c0-451b-899d-a40a05352a7b",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [960, 480],
      "credentials": {
        "anthropicApi": {
          "id": "7WwG495lbMecbH5G",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_insights",
        "description": "Busca métricas/insights do Meta Ads. Use para: gasto (spend), leads (actions), impressões, cliques, CTR, CPC, alcance. Envie JSON com: object_id (ID da conta ex: act_123456 OU ID de campanha), date_preset (today/yesterday/this_week_mon_today/last_7d/last_14d/last_30d/last_month), fields (ex: spend,impressions,clicks,ctr,cpc,actions,reach,cost_per_action_type), level opcional (account/campaign/adset/ad).",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com object_id e date_preset'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst objectId = params.object_id;\nconst datePreset = params.date_preset || 'today';\nconst fields = params.fields || 'spend,impressions,clicks,ctr,cpc,actions,reach,cost_per_action_type';\nconst level = params.level || '';\nif (!objectId) return 'Erro: object_id é obrigatório';\nlet url = `https://graph.facebook.com/v19.0/${objectId}/insights?date_preset=${encodeURIComponent(datePreset)}&fields=${encodeURIComponent(fields)}&access_token=${token}`;\nif (level) url += `&level=${encodeURIComponent(level)}`;\ntry {\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message} (código: ${data.error.code})`;\n  if (!data.data || data.data.length === 0) return 'Nenhum dado encontrado para o período solicitado.';\n  return JSON.stringify(data.data);\n} catch(e) { return `Erro de conexão: ${e.message}`; }"
      },
      "id": "13abddfb-207b-4d02-aa60-c7b8658c7860",
      "name": "Tool: Buscar Insights",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1136, 480]
    },
    {
      "parameters": {
        "name": "listar_campanhas",
        "description": "Lista todas as campanhas de uma conta de anúncios. Envie JSON com: account_id (formato: act_XXXXXXXXX). Retorna: id, nome, status, objetivo, budget diário e total. Use para encontrar o ID de uma campanha específica antes de buscar os insights.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_id'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountId = params.account_id;\nif (!accountId) return 'Erro: account_id é obrigatório (formato: act_XXXXXXXXX)';\ntry {\n  const url = `https://graph.facebook.com/v19.0/${accountId}/campaigns?fields=id,name,status,objective,daily_budget,lifetime_budget&limit=100&access_token=${token}`;\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message}`;\n  if (!data.data || data.data.length === 0) return 'Nenhuma campanha encontrada nessa conta';\n  const campaigns = data.data.map(c => ({\n    id: c.id,\n    nome: c.name,\n    status: c.status,\n    objetivo: c.objective,\n    budget_diario_reais: c.daily_budget ? (parseInt(c.daily_budget) / 100).toFixed(2) : null,\n    budget_total_reais: c.lifetime_budget ? (parseInt(c.lifetime_budget) / 100).toFixed(2) : null\n  }));\n  return JSON.stringify(campaigns);\n} catch(e) { return `Erro de conexão: ${e.message}`; }"
      },
      "id": "731c36fc-e0b1-44a4-a13e-fcda6b6f2a2e",
      "name": "Tool: Listar Campanhas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1296, 480]
    },
    {
      "parameters": {
        "name": "listar_conjuntos",
        "description": "Lista conjuntos de anúncios (adsets) de uma conta ou campanha. Envie JSON com: account_id (act_XXXXXXXXX) OU campaign_id (ID numérico). Retorna: id, nome, status e budget.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_id ou campaign_id'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountId = params.account_id;\nconst campaignId = params.campaign_id;\nif (!accountId && !campaignId) return 'Erro: forneça account_id ou campaign_id';\nconst baseId = campaignId || accountId;\ntry {\n  const url = `https://graph.facebook.com/v19.0/${baseId}/adsets?fields=id,name,status,daily_budget,lifetime_budget,campaign_id&limit=100&access_token=${token}`;\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message}`;\n  if (!data.data || data.data.length === 0) return 'Nenhum conjunto de anúncios encontrado';\n  const adsets = data.data.map(a => ({\n    id: a.id,\n    nome: a.name,\n    status: a.status,\n    budget_diario_reais: a.daily_budget ? (parseInt(a.daily_budget) / 100).toFixed(2) : null,\n    budget_total_reais: a.lifetime_budget ? (parseInt(a.lifetime_budget) / 100).toFixed(2) : null\n  }));\n  return JSON.stringify(adsets);\n} catch(e) { return `Erro de conexão: ${e.message}`; }"
      },
      "id": "a8b12824-f38e-4296-87fe-49bd6e9f934b",
      "name": "Tool: Listar Conjuntos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1408, 480]
    },
    {
      "parameters": {
        "name": "buscar_insights_multiplas_contas",
        "description": "Busca insights de MÚLTIPLAS contas ao mesmo tempo. Use quando o usuário não especificar cliente. Envie JSON com: account_ids (array de IDs ex: ['act_111','act_222']), date_preset, fields.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_ids (array), date_preset e fields'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountIds = params.account_ids || [];\nconst datePreset = params.date_preset || 'today';\nconst fields = params.fields || 'spend,impressions,clicks,actions,reach';\nif (accountIds.length === 0) return 'Erro: account_ids deve ser um array com pelo menos 1 conta';\ntry {\n  const results = [];\n  for (const accountId of accountIds) {\n    const url = `https://graph.facebook.com/v19.0/${accountId}/insights?date_preset=${encodeURIComponent(datePreset)}&fields=${encodeURIComponent(fields)}&access_token=${token}`;\n    const res = await fetch(url);\n    const data = await res.json();\n    if (!data.error && data.data && data.data.length > 0) {\n      results.push({ account_id: accountId, data: data.data[0] });\n    } else if (data.error) {\n      results.push({ account_id: accountId, error: data.error.message });\n    } else {\n      results.push({ account_id: accountId, data: null, note: 'sem dados no período' });\n    }\n  }\n  return JSON.stringify(results);\n} catch(e) { return `Erro de conexão: ${e.message}`; }"
      },
      "id": "81aa87da-6607-4ffc-95b9-1be17e23ec68",
      "name": "Tool: Insights Multiplas Contas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [1520, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evolution-api.rcxmr5.easypanel.host/message/sendText/Teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE670335A833-4FE4-84CB-29FA65A8ED73"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "767c226e-c649-487e-be1f-5a19db725162",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 256]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Menciona Alicia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menciona Alicia?": {
      "main": [
        [
          {
            "node": "Calcular Datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Datas": {
      "main": [
        [
          {
            "node": "É Relatório Semanal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relatório Semanal?": {
      "main": [
        [
          {
            "node": "Buscar Insights 7 Dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Contas Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights 7 Dias": {
      "main": [
        [
          {
            "node": "Formatar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Relatório": {
      "main": [
        [
          {
            "node": "Enviar Relatório WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contas Meta": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Alicia Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alicia Agent": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus": {
      "ai_languageModel": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Buscar Insights": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Listar Campanhas": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Listar Conjuntos": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Insights Multiplas Contas": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be0265a4-12a2-4b9c-9261-6f0a5ccb0059",
  "meta": {
    "instanceId": "e41a2f460652c42ec14d34a1f52c8950eaafd8f9e5a90fe9db358faaccf046d7"
  },
  "id": "uIUtsjBWTxjZObX3",
  "tags": []
}
