n8n-alicia-meta-ads.json
{
  "name": "Alicia - Meta Ads v2 (Clientes + Relatórios)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alicia-whatsapp",
        "options": {}
      },
      "id": "7623fe0f-091f-4cde-a0ff-7b53998c4fe1",
      "name": "Webhook Evolution API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -336,
        112
      ],
      "webhookId": "alicia-meta-ads-001"
    },
    {
      "parameters": {
        "jsCode": "// Suporta webhook typeVersion 1 (body direto) e typeVersion 2 (body aninhado)\nconst raw = $input.first().json;\nconst payload = (raw.body && typeof raw.body === 'object' && raw.body !== null) ? raw.body : raw;\n\n// Ignora eventos que nao sao mensagens recebidas (connection.update, read receipts, etc)\nconst event = payload.event || '';\nif (event !== '' && event !== 'messages.upsert') return [];\n\nconst data = payload.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst text =\n  msg.conversation ||\n  (msg.extendedTextMessage && msg.extendedTextMessage.text) ||\n  (msg.imageMessage && msg.imageMessage.caption) ||\n  (msg.videoMessage && msg.videoMessage.caption) ||\n  (msg.documentMessage && msg.documentMessage.caption) ||\n  '';\n\nconst remoteJid = key.remoteJid || '';\nconst fromMe = key.fromMe === true;\nconst instance = payload.instance || 'Teste';\n\nif (fromMe) return [];\nif (!text.trim()) return [];\nif (remoteJid.includes('@g.us')) return [];\n\nconst phone = remoteJid\n  .replace('@s.whatsapp.net', '')\n  .replace('@c.us', '');\n\nreturn [{ json: { text: text.trim(), phone: phone, remoteJid: remoteJid, instance: instance } }];"
      },
      "id": "24a967e7-7602-4f55-bea1-a4dff46d1330",
      "name": "Parse Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-alicia",
              "leftValue": "={{ $json.text }}",
              "rightValue": "alicia",
              "operator": {
                "type": "string",
                "operation": "contains",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "accdd347-7076-4d05-b4c7-ae43aa1fc4b7",
      "name": "Menciona Alicia?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        112,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst text = (input.text || '').toLowerCase();\nconst now = new Date();\nconst fmt = d => d.toISOString().split('T')[0];\nconst addDays = (n) => { const d = new Date(now); d.setDate(d.getDate() + n); return fmt(d); };\nconst dow = now.getDay();\nconst daysToMon = dow === 0 ? 6 : dow - 1;\nconst monday = new Date(now);\nmonday.setDate(now.getDate() - daysToMon);\n\n// clientMap como array para evitar chave duplicada e suportar multiplos aliases\nconst clientMap = [\n  { keys: ['antonio neto', 'antonio'], id: 'act_497795903676192', nome: 'Antonio Neto' },\n  { keys: ['gabriel jacinto', 'gabriel'], id: 'act_2493856707309984', nome: 'Gabriel Jacinto' },\n  { keys: ['dani escudero', 'dani'], id: 'act_2145598605527232', nome: 'Dani Escudero' },\n  { keys: ['agro'], id: 'act_929521557422139', nome: 'Agro' },\n  { keys: ['escola de musica', 'escola de m\\u00fasica', 'escola'], id: 'act_544347952854095', nome: 'Escola de M\\u00fasica' },\n  { keys: ['panmalhas'], id: 'act_1509005182799187', nome: 'Panmalhas Assessoria T\\u00eaxtil' },\n  { keys: ['gfix store', 'gfix'], id: 'act_2811791829124905', nome: 'GFiX Store' },\n  { keys: ['arte em gelo', 'arte em'], id: 'act_5585082641598366', nome: 'Arte em Gelo' },\n  { keys: ['itag tecnologia', 'itag'], id: 'act_738466861151636', nome: 'ITAG Tecnologia' },\n  { keys: ['hi dogz', 'dogz'], id: 'act_873195821346004', nome: 'Hi Dogz' },\n  { keys: ['batata bistro', 'batata bistr\\u00f4', 'batata'], id: 'act_1673012226810411', nome: 'Batata Bistr\\u00f4' },\n  { keys: ['caribbean bronze', 'caribbean'], id: 'act_1082397873705862', nome: 'Caribbean Bronze' },\n  { keys: ['larissa kelleter', 'larissa'], id: 'act_738280412237298', nome: 'Larissa Kelleter' }\n];\n\n// Ordena por comprimento da primeira chave (mais especifico primeiro)\nclientMap.sort((a, b) => b.keys[0].length - a.keys[0].length);\n\n// Detecta pedido de relatorio sem exigir a palavra 'semanal'\nconst isRelatorio = text.includes('relat');\n\nlet clientFound = null;\nfor (let i = 0; i < clientMap.length; i++) {\n  const entry = clientMap[i];\n  for (let j = 0; j < entry.keys.length; j++) {\n    if (text.includes(entry.keys[j])) {\n      clientFound = entry;\n      break;\n    }\n  }\n  if (clientFound) break;\n}\n\nconst today = fmt(now);\nconst yesterday = addDays(-1);\n// Meta Ads last_7d termina 2 dias atras (dados de ontem ainda podem estar incompletos)\nconst last7End = addDays(-2);\nconst last7Start = addDays(-8);\nconst isRelatorioWithClient = isRelatorio && clientFound !== null;\n\n// Detecta periodo solicitado e mapeia para date_preset do Meta Ads\nconst hasMesPassado = text.includes('m\\u00eas passado') || text.includes('mes passado');\nconst hasEsseMes = text.includes('esse m\\u00eas') || text.includes('este m\\u00eas') || text.includes('esse mes') || text.includes('este mes');\n\nlet datePreset = 'last_7d';\nlet periodoLabel = '\\u00faltimos 7 dias';\nlet periodStart = last7Start;\nlet periodEnd = last7End;\n\nif (hasMesPassado) {\n  datePreset = 'last_month';\n  periodoLabel = 'm\\u00eas passado';\n  const firstOfMonth = new Date(now.getFullYear(), now.getMonth(), 1);\n  const lastOfPrevMonth = new Date(firstOfMonth.getTime() - 86400000);\n  const firstOfPrevMonth = new Date(lastOfPrevMonth.getFullYear(), lastOfPrevMonth.getMonth(), 1);\n  periodStart = fmt(firstOfPrevMonth);\n  periodEnd = fmt(lastOfPrevMonth);\n} else if (text.includes('ontem')) {\n  datePreset = 'yesterday';\n  periodoLabel = 'ontem';\n  periodStart = yesterday;\n  periodEnd = yesterday;\n} else if (text.includes('hoje')) {\n  datePreset = 'today';\n  periodoLabel = 'hoje';\n  periodStart = today;\n  periodEnd = today;\n} else if (text.includes('essa semana') || text.includes('esta semana')) {\n  datePreset = 'this_week_mon_today';\n  periodoLabel = 'essa semana';\n  periodStart = fmt(monday);\n  periodEnd = today;\n} else if (text.includes('14 dias')) {\n  datePreset = 'last_14d';\n  periodoLabel = '\\u00faltimos 14 dias';\n  periodStart = addDays(-15);\n  periodEnd = addDays(-2);\n} else if (text.includes('30 dias') || hasEsseMes) {\n  datePreset = 'last_30d';\n  periodoLabel = '\\u00faltimos 30 dias';\n  periodStart = addDays(-31);\n  periodEnd = addDays(-2);\n}\n\nreturn [{\n  json: {\n    text: input.text,\n    phone: input.phone,\n    remoteJid: input.remoteJid,\n    instance: input.instance,\n    today: today,\n    yesterday: yesterday,\n    weekStart: fmt(monday),\n    last7: last7Start,\n    last30: addDays(-30),\n    last7Start: last7Start,\n    last7End: last7End,\n    metaToken: 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X',\n    isRelatorio: isRelatorio,\n    isRelatorioWithClient: isRelatorioWithClient,\n    clientFound: clientFound ? clientFound.id : null,\n    clientNome: clientFound ? clientFound.nome : null,\n    datePreset: datePreset,\n    periodoLabel: periodoLabel,\n    periodStart: periodStart,\n    periodEnd: periodEnd\n  }\n}];"
      },
      "id": "5b953b43-14ca-4ed3-b8da-3ec455f58b92",
      "name": "Calcular Datas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond-relatorio",
              "leftValue": "={{ $json.isRelatorioWithClient }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "151d4a8d-966e-4ca1-a145-cc2692dec81e",
      "name": "É Relatório Semanal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        544,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v19.0/' + $json.clientFound + '/insights' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date_preset",
              "value": "={{ $('Calcular Datas').first().json.datePreset }}"
            },
            {
              "name": "fields",
              "value": "spend,impressions,clicks,ctr,actions,action_values,reach,campaign_name"
            },
            {
              "name": "level",
              "value": "campaign"
            },
            {
              "name": "access_token",
              "value": "={{ $json.metaToken }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "0ad35b21-41cf-4cca-a7a3-f8bfe29f4467",
      "name": "Buscar Insights 7 Dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        -32
      ]
    },
    {
      "parameters": {
        "jsCode": "const metaData = $input.first().json;\nconst ctx = $('Calcular Datas').first().json;\nconst campaigns = metaData.data || [];\n\n// Formata valor monetario em pt-BR sem depender de ICU/locale\nconst fmtMoney = (val) => {\n  const n = parseFloat(val) || 0;\n  const fixed = n.toFixed(2);\n  const parts = fixed.split('.');\n  parts[0] = parts[0].replace(/(\\d)(?=(\\d{3})+$)/g, '$1.');\n  return parts[0] + ',' + parts[1];\n};\n\n// Formata numero inteiro com separador de milhar pt-BR\nconst fmtNum = (val) => {\n  const n = parseInt(val) || 0;\n  return String(n).replace(/(\\d)(?=(\\d{3})+$)/g, '$1.');\n};\n\nconst fmtBR = (dateStr) => {\n  const d = new Date(dateStr + 'T12:00:00Z');\n  return String(d.getUTCDate()).padStart(2, '0') + '/' + String(d.getUTCMonth() + 1).padStart(2, '0');\n};\n\nif (!campaigns.length) {\n  return [{ json: {\n    phone: ctx.phone,\n    output: '\\u274c Sem dados para *' + (ctx.clientNome || '').toUpperCase() + '* nos \\u00faltimos 7 dias.'\n  } }];\n}\n\n// Contas cujo objetivo principal \u00e9 compra direta (e-commerce / vendas)\nconst purchaseAccountIds = ['act_873195821346004', 'act_1673012226810411']; // Hi Dogz, Batata Bistr\\u00f4\nconst isPurchase = purchaseAccountIds.includes(ctx.clientFound);\n\nlet totalSpend = 0;\nlet totalImpressions = 0;\nlet totalClicks = 0;\n\nfor (const c of campaigns) {\n  totalSpend += parseFloat(c.spend || '0');\n  totalImpressions += parseInt(c.impressions || '0');\n  totalClicks += parseInt(c.clicks || '0');\n}\n\nconst clientNameUpper = (ctx.clientNome || '').toUpperCase();\nconst periodoLabel = ctx.periodoLabel || '\\u00faltimos 7 dias';\nconst periodStart = ctx.periodStart || ctx.last7Start;\nconst periodEnd = ctx.periodEnd || ctx.last7End;\nconst dateRange = periodStart === periodEnd\n  ? '_\\ud83d\\udcc6 ' + fmtBR(periodStart) + ' (' + periodoLabel + ')_'\n  : '_\\ud83d\\udcc6 ' + fmtBR(periodStart) + ' a ' + fmtBR(periodEnd) + ' (' + periodoLabel + ')_';\nlet reportText;\n\nif (isPurchase) {\n  // Campanha de vendas: mostra compras e custo por venda\n  let totalPurchases = 0;\n  let totalRevenue = 0;\n  for (const c of campaigns) {\n    const purchaseAction = (c.actions || []).find(a =>\n      a.action_type === 'purchase' ||\n      a.action_type === 'offsite_conversion.fb_pixel_purchase'\n    );\n    if (purchaseAction) totalPurchases += parseInt(purchaseAction.value);\n    const revenueAction = (c.action_values || []).find(a =>\n      a.action_type === 'purchase' ||\n      a.action_type === 'offsite_conversion.fb_pixel_purchase'\n    );\n    if (revenueAction) totalRevenue += parseFloat(revenueAction.value);\n  }\n  const cpp = totalPurchases > 0 ? totalSpend / totalPurchases : 0;\n  reportText =\n    '*' + clientNameUpper + '*' + '\\n\\n' +\n    dateRange + '\\n\\n' +\n    '*Meta Ads*' + '\\n\\n' +\n    'Impress\\u00f5es: ' + fmtNum(totalImpressions) + '\\n\\n' +\n    'Cliques: ' + fmtNum(totalClicks) + '\\n\\n' +\n    'Vendas: ' + totalPurchases + '\\n\\n' +\n    'Faturamento: R$ ' + fmtMoney(totalRevenue) + '\\n\\n' +\n    'Custo por venda: R$ ' + fmtMoney(cpp) + '\\n\\n' +\n    '*INVESTIMENTO TOTAL: R$ ' + fmtMoney(totalSpend) + '*';\n} else {\n  // Campanha de leads: verifica multiplos tipos de conversao\n  const LEAD_TYPES = [\n    'lead',\n    'onsite_conversion.lead_grouped',\n    'onsite_conversion.messaging_conversation_started_7d',\n    'onsite_conversion.total_messaging_connection'\n  ];\n\n  let leadSpend = 0;\n  let totalLeads = 0;\n  for (const c of campaigns) {\n    const leadAction = (c.actions || []).find(a => LEAD_TYPES.includes(a.action_type));\n    if (leadAction) {\n      leadSpend += parseFloat(c.spend || '0');\n      totalLeads += parseInt(leadAction.value);\n    }\n  }\n  const cpl = totalLeads > 0 ? leadSpend / totalLeads : 0;\n  reportText =\n    '*' + clientNameUpper + '*' + '\\n\\n' +\n    dateRange + '\\n\\n' +\n    '*Meta Ads*' + '\\n\\n' +\n    'Impress\\u00f5es: ' + fmtNum(totalImpressions) + '\\n\\n' +\n    'Cliques: ' + fmtNum(totalClicks) + '\\n\\n' +\n    'Leads: ' + totalLeads + '\\n\\n' +\n    'Custo por lead: R$ ' + fmtMoney(cpl) + '\\n\\n' +\n    '*INVESTIMENTO TOTAL: R$ ' + fmtMoney(totalSpend) + '*';\n}\n\nreturn [{ json: { phone: ctx.phone, output: reportText } }];"
      },
      "id": "2b3745d9-82ef-4d9a-aa8d-db402408a07e",
      "name": "Formatar Relatório",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evolution-api.rcxmr5.easypanel.host/message/sendText/Teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE670335A833-4FE4-84CB-29FA65A8ED73"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "b339c96a-4c60-4a45-98ea-4091d5ec847d",
      "name": "Enviar Relatório WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        -32
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me/adaccounts",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,account_status,currency,amount_spent,balance"
            },
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "access_token",
              "value": "={{ $json.metaToken }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "1daa387b-bc23-4e31-b837-e8dcc048044e",
      "name": "Buscar Contas Meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "const metaResp = $input.first().json;\nconst ctx = $('Calcular Datas').first().json;\nconst allAccounts = metaResp.data || [];\nconst accountsList = allAccounts.map(a => {\n  const status = a.account_status === 1 ? '\\u2705 Ativa' : '\\u23f8 Inativa';\n  return '\\u2022 ' + a.name + ' | ID: ' + a.id + ' | ' + a.currency + ' | ' + status;\n}).join('\\n') || 'Nenhuma conta encontrada';\nreturn [{ json: {\n  text: ctx.text,\n  phone: ctx.phone,\n  remoteJid: ctx.remoteJid,\n  instance: ctx.instance,\n  today: ctx.today,\n  yesterday: ctx.yesterday,\n  weekStart: ctx.weekStart,\n  last7: ctx.last7,\n  last30: ctx.last30,\n  last7Start: ctx.last7Start,\n  last7End: ctx.last7End,\n  metaToken: ctx.metaToken,\n  isRelatorio: ctx.isRelatorio,\n  isRelatorioWithClient: ctx.isRelatorioWithClient,\n  clientFound: ctx.clientFound,\n  clientNome: ctx.clientNome,\n  accounts: allAccounts,\n  accountsList: accountsList\n} }];"
      },
      "id": "9c2de825-ffbd-4870-b0e5-3f4a72c6c7b1",
      "name": "Montar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        256
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Voc\u00ea \u00e9 Alicia, assistente especializada em Meta Ads. Ajuda gestores de tr\u00e1fego a analisar m\u00e9tricas de campanhas de forma clara e direta.\n\n\ud83d\udcc5 DATA ATUAL: {{ $json.today }}\n\ud83d\udcc5 ONTEM: {{ $json.yesterday }}\n\ud83d\udcc5 IN\u00cdCIO DA SEMANA (seg): {{ $json.weekStart }}\n\ud83d\udcc5 7 DIAS ATR\u00c1S: {{ $json.last7 }}\n\ud83d\udcc5 30 DIAS ATR\u00c1S: {{ $json.last30 }}\n\n\ud83e\uddd1\u200d\ud83d\udcbc MAPEAMENTO DE CLIENTES \u2192 CONTAS:\n\u2022 Antonio Neto \u2192 act_497795903676192\n\u2022 Gabriel Jacinto \u2192 act_2493856707309984\n\u2022 Dani Escudero \u2192 act_2145598605527232\n\u2022 Agro \u2192 act_929521557422139\n\u2022 Escola de M\u00fasica \u2192 act_544347952854095\n\u2022 Panmalhas \u2192 act_1509005182799187\n\u2022 GFiX Store \u2192 act_2811791829124905\n\u2022 Arte em Gelo \u2192 act_5585082641598366\n\u2022 ITAG Tecnologia \u2192 act_738466861151636\n\u2022 Hi Dogz \u2192 act_873195821346004\n\u2022 Batata Bistr\u00f4 \u2192 act_1673012226810411\n\u2022 Caribbean Bronze \u2192 act_1082397873705862\n\u2022 Larissa Kelleter \u2192 act_738280412237298\n\n\ud83c\udfe2 CONTAS DISPON\u00cdVEIS (status atual):\n{{ $json.accountsList }}\n\n\ud83d\udccb REGRAS:\n1. Aceite nomes parciais: 'itag' = ITAG Tecnologia, 'batata' = Batata Bistr\u00f4, 'gfix' = GFiX Store, 'caribbean' = Caribbean Bronze\n2. Se n\u00e3o especificou cliente, busque de TODAS as contas ativas e consolide os valores\n3. date_presets v\u00e1lidos: today, yesterday, this_week_mon_today, last_7d, last_14d, last_30d, last_month\n4. Para LEADS: filtre actions por action_type = 'lead' OU 'onsite_conversion.lead_grouped'\n5. CPL = gasto_total \u00f7 quantidade_leads\n6. Budgets da Meta v\u00eam em CENTAVOS - divida por 100 para exibir em reais\n7. Responda SEMPRE em portugu\u00eas do Brasil\n8. Use emojis para tornar a resposta visual e amig\u00e1vel\n9. Seja concisa mas completa\n\n\ud83c\udfa8 FORMATO DE RESPOSTA:\n*NOME DO CLIENTE EM MAI\u00daSCULAS*\n\n_\ud83d\udcc6 DD/MM a DD/MM (\u00faltimos 7 dias)_\n\n*Meta Ads*\n\nImpress\u00f5es: X.XXX\n\nCliques: X.XXX\n\nLeads: XX (ou Vendas para Hi Dogz e Batata Bistr\u00f4)\n\nCusto por lead: R$ XX,XX (ou Custo por venda)\n\n*INVESTIMENTO TOTAL: R$ X.XXX,XX*\n\n\u26a0\ufe0f Se n\u00e3o houver dados para o per\u00edodo, informe o usu\u00e1rio claramente."
        }
      },
      "id": "36e08f36-8634-478d-a32c-8bf22671531e",
      "name": "Alicia Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1216,
        256
      ]
    },
    {
      "parameters": {
        "model": "claude-opus-4-5",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.1
        }
      },
      "id": "b8f7ba35-80c0-451b-899d-a40a05352a7b",
      "name": "Claude Opus",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        960,
        480
      ],
      "credentials": {
        "anthropicApi": {
          "id": "7WwG495lbMecbH5G",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "name": "buscar_insights",
        "description": "Busca m\u00e9tricas/insights do Meta Ads. Use para: gasto (spend), leads (actions), impress\u00f5es, cliques, CTR, CPC, alcan\u00e7e. Envie JSON com: object_id (ID da conta ex: act_123456 OU ID de campanha), date_preset (today/yesterday/this_week_mon_today/last_7d/last_14d/last_30d/last_month), fields (ex: spend,impressions,clicks,ctr,cpc,actions,reach,cost_per_action_type), level opcional (account/campaign/adset/ad).",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com object_id e date_preset'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst objectId = params.object_id;\nconst datePreset = params.date_preset || 'today';\nconst fields = params.fields || 'spend,impressions,clicks,ctr,cpc,actions,reach,cost_per_action_type';\nconst level = params.level || '';\nif (!objectId) return 'Erro: object_id \u00e9 obrigat\u00f3rio';\nlet url = `https://graph.facebook.com/v19.0/${objectId}/insights?date_preset=${encodeURIComponent(datePreset)}&fields=${encodeURIComponent(fields)}&access_token=${token}`;\nif (level) url += `&level=${encodeURIComponent(level)}`;\ntry {\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message} (c\u00f3digo: ${data.error.code})`;\n  if (!data.data || data.data.length === 0) return 'Nenhum dado encontrado para o per\u00edodo solicitado.';\n  return JSON.stringify(data.data);\n} catch(e) { return `Erro de conex\u00e3o: ${e.message}`; }"
      },
      "id": "13abddfb-207b-4d02-aa60-c7b8658c7860",
      "name": "Tool: Buscar Insights",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1136,
        480
      ]
    },
    {
      "parameters": {
        "name": "listar_campanhas",
        "description": "Lista todas as campanhas de uma conta de an\u00fancios. Envie JSON com: account_id (formato: act_XXXXXXXXX). Retorna: id, nome, status, objetivo, budget di\u00e1rio e total. Use para encontrar o ID de uma campanha espec\u00edfica antes de buscar os insights.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_id'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountId = params.account_id;\nif (!accountId) return 'Erro: account_id \u00e9 obrigat\u00f3rio (formato: act_XXXXXXXXX)';\ntry {\n  const url = `https://graph.facebook.com/v19.0/${accountId}/campaigns?fields=id,name,status,objective,daily_budget,lifetime_budget&limit=100&access_token=${token}`;\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message}`;\n  if (!data.data || data.data.length === 0) return 'Nenhuma campanha encontrada nessa conta';\n  const campaigns = data.data.map(c => ({\n    id: c.id,\n    nome: c.name,\n    status: c.status,\n    objetivo: c.objective,\n    budget_diario_reais: c.daily_budget ? (parseInt(c.daily_budget) / 100).toFixed(2) : null,\n    budget_total_reais: c.lifetime_budget ? (parseInt(c.lifetime_budget) / 100).toFixed(2) : null\n  }));\n  return JSON.stringify(campaigns);\n} catch(e) { return `Erro de conex\u00e3o: ${e.message}`; }"
      },
      "id": "731c36fc-e0b1-44a4-a13e-fcda6b6f2a2e",
      "name": "Tool: Listar Campanhas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1296,
        480
      ]
    },
    {
      "parameters": {
        "name": "listar_conjuntos",
        "description": "Lista conjuntos de an\u00fancios (adsets) de uma conta ou campanha. Envie JSON com: account_id (act_XXXXXXXXX) OU campaign_id (ID num\u00e9rico). Retorna: id, nome, status e budget.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_id ou campaign_id'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountId = params.account_id;\nconst campaignId = params.campaign_id;\nif (!accountId && !campaignId) return 'Erro: forne\u00e7a account_id ou campaign_id';\nconst baseId = campaignId || accountId;\ntry {\n  const url = `https://graph.facebook.com/v19.0/${baseId}/adsets?fields=id,name,status,daily_budget,lifetime_budget,campaign_id&limit=100&access_token=${token}`;\n  const res = await fetch(url);\n  const data = await res.json();\n  if (data.error) return `Erro Meta API: ${data.error.message}`;\n  if (!data.data || data.data.length === 0) return 'Nenhum conjunto de an\u00fancios encontrado';\n  const adsets = data.data.map(a => ({\n    id: a.id,\n    nome: a.name,\n    status: a.status,\n    budget_diario_reais: a.daily_budget ? (parseInt(a.daily_budget) / 100).toFixed(2) : null,\n    budget_total_reais: a.lifetime_budget ? (parseInt(a.lifetime_budget) / 100).toFixed(2) : null\n  }));\n  return JSON.stringify(adsets);\n} catch(e) { return `Erro de conex\u00e3o: ${e.message}`; }"
      },
      "id": "a8b12824-f38e-4296-87fe-49bd6e9f934b",
      "name": "Tool: Listar Conjuntos",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1408,
        480
      ]
    },
    {
      "parameters": {
        "name": "buscar_insights_multiplas_contas",
        "description": "Busca insights de M\u00daLTIPLAS contas ao mesmo tempo. Use quando o usu\u00e1rio n\u00e3o especificar cliente. Envie JSON com: account_ids (array de IDs ex: ['act_111','act_222']), date_preset, fields.",
        "jsCode": "let params;\ntry { params = JSON.parse(query); } catch(e) { return 'Erro: envie JSON com account_ids (array), date_preset e fields'; }\nconst token = 'EAAeVLzZANk8oBQ79Ue5UimCCCYL9uNZCH9EZA7vZAJtqB5B9aQ6mO53EnUI1b8Cskpq9tRsYZAaDKvZB1kLZABjbqgwi3aenhyPnAtQkeineasNmaZA7vue9ndlaErc59UFZBaMBeDnBC8ZBpXtn9PdUP4OMQvkd53QZAL1jI9SC49WGZCvgopdZABkhGKCEuVStyYGRfYPrlhksx7HHkqZBNWo5gMLhREik5hvkp1JA7X';\nconst accountIds = params.account_ids || [];\nconst datePreset = params.date_preset || 'today';\nconst fields = params.fields || 'spend,impressions,clicks,actions,reach';\nif (accountIds.length === 0) return 'Erro: account_ids deve ser um array com pelo menos 1 conta';\ntry {\n  const results = [];\n  for (const accountId of accountIds) {\n    const url = `https://graph.facebook.com/v19.0/${accountId}/insights?date_preset=${encodeURIComponent(datePreset)}&fields=${encodeURIComponent(fields)}&access_token=${token}`;\n    const res = await fetch(url);\n    const data = await res.json();\n    if (!data.error && data.data && data.data.length > 0) {\n      results.push({ account_id: accountId, data: data.data[0] });\n    } else if (data.error) {\n      results.push({ account_id: accountId, error: data.error.message });\n    } else {\n      results.push({ account_id: accountId, data: null, note: 'sem dados no per\u00edodo' });\n    }\n  }\n  return JSON.stringify(results);\n} catch(e) { return `Erro de conex\u00e3o: ${e.message}`; }"
      },
      "id": "81aa87da-6607-4ffc-95b9-1be17e23ec68",
      "name": "Tool: Insights Multiplas Contas",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        1520,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution-evolution-api.rcxmr5.easypanel.host/message/sendText/Teste",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "BE670335A833-4FE4-84CB-29FA65A8ED73"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "767c226e-c649-487e-be1f-5a19db725162",
      "name": "Enviar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        256
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Evolution API": {
      "main": [
        [
          {
            "node": "Parse Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Message": {
      "main": [
        [
          {
            "node": "Menciona Alicia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menciona Alicia?": {
      "main": [
        [
          {
            "node": "Calcular Datas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Datas": {
      "main": [
        [
          {
            "node": "É Relatório Semanal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É Relatório Semanal?": {
      "main": [
        [
          {
            "node": "Buscar Insights 7 Dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Contas Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Insights 7 Dias": {
      "main": [
        [
          {
            "node": "Formatar Relatório",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar Relatório": {
      "main": [
        [
          {
            "node": "Enviar Relatório WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contas Meta": {
      "main": [
        [
          {
            "node": "Montar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Contexto": {
      "main": [
        [
          {
            "node": "Alicia Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alicia Agent": {
      "main": [
        [
          {
            "node": "Enviar Resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Opus": {
      "ai_languageModel": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Buscar Insights": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Listar Campanhas": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Listar Conjuntos": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Insights Multiplas Contas": {
      "ai_tool": [
        [
          {
            "node": "Alicia Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be0265a4-12a2-4b9c-9261-6f0a5ccb0059",
  "meta": {
    "instanceId": "e41a2f460652c42ec14d34a1f52c8950eaafd8f9e5a90fe9db358faaccf046d7"
  },
  "id": "uIUtsjBWTxjZObX3",
  "tags": []
}
